.campsite-card {
  width: 46%;
  height: 100%;
  display: flex;
  border: 2px;
  overflow: hidden;
  margin-bottom: 1em;
  position: relative;
  padding: 0.7em;
  background: #fff;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09),
    0 1px 3px 1px rgba(0, 0, 0, 0.15);
  ;
  transition: all 0.2s ease-in-out;
}

.campsite-card:hover {
  transform: scale(1.02);
}

.campsite-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  padding-bottom: 0.25em;
}

.heart-icon {
  color: #ffffffb3;
  width: 2.2em;
  height: 2.2em;
  position: absolute;
  top: 1.3em;
  right: 1.3em;
  cursor: pointer;
}

.campsite-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.campsite-badge {
  gap: 0.5em;
  background-color: #f5f5f5;
  color: #0a0a0a;
  padding: 0.25em 0.75em;
  position: absolute;
  top: 1.15em;
  left: 1.15em;
  border-radius: 12px;
  font-size: 1.2em;
  font-weight: bold;
}

.campsite-name {
  font-size: 1.5em;
  font-weight: 700;
}

.review-star {
  gap: 0.2em;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lucide-icon {
  width: 1.2em;
  height: 1.2em;
}

.campsite-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.campsite-amenities {
  margin-block: 0.2em;
  font-size: 0.7rem;
  color: #6A6A6A;
  font-weight: 500;
}

.campsite-price {
  color: #0a0a0a;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.campsite-price-text {
  font-size: 0.7rem;
  color: #6A6A6A;
  font-weight: 500;
}

.campsite-btn-book {
  margin-top: 0.8em;
  padding: 0.3em 0.6em;
  color: #fff;
  background: #91A36F;
  border-radius: 15px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .campsite-card {
    width: 23%;
    border: 2px;
    padding: 1em;
    overflow: hidden;
    margin-bottom: 2em;
  }

  .campsite-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 0.5em;
  }

  .heart-icon {
    width: 2.5em;
    height: 2.5em;
    top: 1.75em;
    right: 1.75em;
  }

  .campsite-badge {
    gap: 0.5em;
    padding: 0.4em 1.2em;
    top: 1.5em;
    left: 1.5em;
    font-size: 1.2em;
  }

  .campsite-name {
    font-size: 2.1em;
    font-weight: 500;
  }

  .review-star {
    gap: 0.4em;
    display: flex;
    font-size: 1.5em;
    flex-direction: row;
    align-items: center;
  }

  .lucide-icon {
    width: 1.25em;
    height: 1.25em;
  }

  .campsite-price {
    font-weight: bold;
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 1.1rem;
  }

  .campsite-price-text {
    font-size: 1rem;
  }

  .campsite-amenities {
    margin-block: 0.3em;
    font-size: 0.9rem;
  }

  .campsite-btn-book {
    margin-top: 1.2em;
    padding: 0.4em 0.8em;
    color: #fff;
    background: #637f42;
    border-radius: 15px;
    border: none;
    font-size: 1rem;
  }
}
