.campsite-card {
  width: 46%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px;
  padding-block: 0.5em;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
  transition: all 0.2s ease-in-out;
}

.campsite-card:hover {
  transform: scale(1.005);
}

.campsite-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  padding-bottom: 0.25em;
}

.heart-icon{
  color: #ffffffb3;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  z-index: 100000;
}

.campsite-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.campsite-badge {
  gap: 0.5em;
  background-color: #f5f5f5;
  color: #0a0a0a;
  padding: 0.25em 0.75em;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: bold;
}

.campsite-name {
  font-size: 1.5em;
}

.review-star {
  gap: 0.2em;
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lucide-icon {
  width: 1.2em;
  height: 1.2em;
}

.campsite-footer {
  display: flex;
  flex-direction: column;
  amrgin-top: auto;
}

.campsite-amenities{
  font-size: 0.7rem;
  color: #6A6A6A;
  font-weight: 500;
}

.campsite-price {
  color: #0a0a0a;
  font-weight: bold;
  font-size: 0.8rem;
}

.campsite-price-number{
  text-decoration: underline;
  text-underline-offset: 1.1px;
}

.campsite-price-text {
  font-size: 0.7rem;
  color: #6A6A6A;
  font-weight: 500;
}

@media screen and (min-width: 700px) {
  .campsite-card {
    width: 18%;
    border: 2px;
    overflow: hidden;
    margin-bottom: 2em;
  }

  .campsite-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-bottom: 0.5em;
  }

  .heart-icon{
    width: 2.5em;
    height: 2.5em;
    top: 1.5em;
    right: 1em;
  }

  .campsite-badge {
    gap: 0.5em;
    padding: 0.4em 1.2em;
    top: 1.25em;
    left: 1em;
    font-size: 1.1em;
  }

  .campsite-name {
    font-size: 2.3em;
  }

  .review-star {
    gap: 0.4em;
    display: flex;
    font-size: 1.65em;
    flex-direction: row;
    align-items: center;
  }

  .lucide-icon {
    width: 1.25em;
    height: 1.25em;
  }

  .campsite-price {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .campsite-price-text {
    font-size: 1rem;
  }

  .campsite-amenities{
    font-size: 1.1rem;
  }
}
