.count-container{
    display: flex;
    margin: 1rem 0;
    font-size: 1.2rem;
    align-items: center;
}

.person-btn{
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #1e40af;
}

.person{
    margin: 0 0.5rem;
}