.navbar-container {
  display: flex;
  color: #0e1726;
  overflow: visible;
  position: relative;
  align-items: center;
  padding: 0.25rem 0.5rem;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-family: "Elms Sans", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-txt {
  font-weight: 300;
  font-size: 1.7rem;
  font-family: "Averia Serif Libre", serif;
}

.li-items,
.auth-login,
.auth-signup {
  display: none;
}

.menu-icon-btn {
  border: none;
  display: block;
  background: none;
}

.menu-icon {
  width: 33px;
}

.menu {
  top: 0px;
  z-index: 10;
  width: 100%;
  display: block;
  padding: 2.5em 0;
  list-style: none;
  position: absolute;
  align-items: center;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: linear-gradient(to bottom right, #91A36F, #2D6A4F);
}

.menu li a {
  display: flex;
  padding: 1em;
  font-weight: 600;
  list-style: none;
  color: #f8f9fa;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  justify-content: center;
}

.close-btn {
  right: 4.25%;
  width: 17px;
  padding: 0.1em;
  position: absolute;
}

.menu-items a:hover {
  color: #0e1726;
  background: #f8f9fa;
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .navbar-container {
    padding: 1.25rem 2rem;
  }

  .logo {
    margin: 0 1em;
  }

  .logo-txt {
    cursor: pointer;
    font-size: 2.5rem;
  }

  .menu {
    display: none;
  }

  .navbar-container ul,
  .auth-login,
  .auth-signup {
    display: flex;
  }

  .menu-icon-btn,
  .menu {
    display: none;
  }

  .navbar-container ul li {
    margin: 0 4em;
    overflow: visible;
    flex-direction: row;
    display: inline-block;
    justify-content: space-between;
  }

  .navbar-container ul li a {
    display: flex;
    color: #0e1726;
    font-weight: 400;
    font-size: 1.45rem;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container ul li a:hover {
    font-weight: 600;
  }

  .auth-btn-container {
    display: flex;
  }

  .auth-login,
  .auth-signup {
    color: #2e2e2e;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 1em 1.5em;
    border-radius: 8px;
    background: #f5f5f5;
    border: 1px solid #999;
    transition: transform 0.3s ease-in-out;
  }
  .auth-signup {
    border: none;
    color: #f8f9fa;
    margin-left: 1em;
    background-color: #91a36f;
  }

  .auth-login:hover {
    color: #000;
    border: 1px solid #91a36f;
  }
}
