.navbar-container {
  display: flex;
  color: #0e1726;
  overflow: visible;
  position: relative;
  align-items: center;
  background: #f8f9fa;
  padding: 0.25rem 0.5rem;
  justify-content: space-between;
  border-bottom: 1px solid #0e1726;
}
.logo {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 45px;
  margin: 0.5em 0;
}

.logo-txt {
  font-weight: 300;
  font-size: 1.7rem;
  font-family: "Averia Serif Libre", serif;
}

.li-items, ul Button{
  display: none;
}

.menu-icon-btn{
  border: none;
  display: block;
  background: none;
}

.menu-icon{
  width: 33px;
}

.menu{
  top: 0px;
  width: 95%;
  display: block;
  list-style: none;
  position: absolute;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.2em;
  background: linear-gradient(to bottom right, #16318a, #0e1726);
}

.menu li a{
  display: flex;
  padding: 0.2em;
  font-weight: 600;
  list-style: none;
  color: #f8f9fa;
  letter-spacing: 2px;
  text-decoration: none;
  justify-content: center;
  transition: all ease-in-out 0.3s;
}

.close-btn{
  width: 17px;
  padding: 0.1em;
  position: sticky;
  margin: 0.5em 0 0 0.5em;
}

.menu-items a:hover{
  color: #0e1726;
  transform: scale(1.15);
  background: #f8f9fa;
}

@media screen and (min-width: 768px) {
  .logo {
    margin: 0 1em;
  }

  .nav-logo {
    width: 70px;
    cursor: pointer;
    margin: 2.25em 0em;
  }

  .logo-txt {
    cursor: pointer;
    font-size: 2.5rem;
  }

  .menu{
    display: none;
  }

  .navbar-container ul, ul Button {
    display: flex;
  }

  .menu-icon-btn, .menu {
    display: none;
  }

  .navbar-container ul li {
    margin: 0 4em;
    overflow: visible;
    flex-direction: row;
    display: inline-block;
    justify-content: space-between;
  }

  .navbar-container ul li a {
    color: #0e1726;
    font-weight: 300;
    font-size: 1.2rem;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container ul li a:hover {
    transform: scale(1.17);
  }

  .navbar-container .btn {
    margin: 0 1.5rem;
    padding: 0.5em 1em;
    background-color: #1e40af;
    border-radius: 1em;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .btn:hover {
    color: #f8f9fa;
    transform: scale(1.02);
    background-color: #123092;
  }
}
