.searchbox {
  padding: 1em;
  display: flex;
  align-items: center;
  background: #f9f9f9;
  justify-content: center;
  border-bottom: 0.1px solid #ccc;
}

input[type="search"] {
  width: 40% !important;
  padding: 0.8em;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-top-left-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
input[type="date"] {
  width: 15% !important;
  padding: 0.7em;
  font-size: 0.9rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  border-radius: 0px !important;
}

input[type="date"]:nth-of-type(3) {
  border-left: 1px solid #ccc !important;
}

input[type="number"] {
  width: 12% !important;
  padding: 0.8em;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.search-input:focus {
  outline: none;
  border-color: #888;
}

.search-btn {
  width: 50px;
  padding: 0.5em 1em;
}

.campsite-card-container {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  color: #0e1726;
  justify-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  .searchbox {
    padding: 4em;
  }

  .search-input {
    width: 50%;
    font-size: 1.1rem;
    border-radius: 1em;
  }

  .campsite-card-container {
     padding: 1%;
    gap: 1.5em;
  }
}
